h1{

	font-size: 3.05555555555556em; /*55/18*/

	&+h2{
		margin-top:0.33333333333333em; /*10/30*/
	}
}

h2{

	font-size: 1.66666666666667em; /*30/18*/
	
}

h1,h2{
	color:$color-grey-light;
		font-weight: 100;
	text-align: center;
	line-height: 1;
}

@media(min-width:551px) and (max-width:700px){

h1{
	font-size: 2em;
}

h2{

	font-size: 1.3em;
	
}


}

@media(min-width:0px) and (max-width:550px){

h1{
	font-size: 1.7em;

	&+h2{
		margin-top:0.5em;
	}
}

h2{

	font-size: 1.1em;
	
}


}