.header{
	position: relative;
}

.header__go-back{
	color:$color-grey-light;
	font-size: 1.22222222222222em; /*22/18*/
	font-weight: 100;
	position: absolute;
	top:1.36363636363636em; /*30/22*/
	left:0px;
	@include transition_css(all,0.2s,ease-in-out,0s);

	&:hover{
		color:darken($color-grey-darker,20%);
	}
}

.header__burger{
	float: right;
	width:25px;
}



@media(min-width:0px) and (max-width:700px){


.header__go-back{
	font-size: 1.1em;
	top:1.7em;

}


}