.icon{
	opacity: 0.75;
	@include transition_css(all,0.3s,ease-in-out,0s);
	display: inline-block;

	&+&{
		margin-left:1.94444444444444em; /*35/18*/
	}

	&:hover{
		opacity: 1;
	}

}

@media(min-width:0px) and (max-width:550px){


.icon{
	width:2.5em;
}


}